# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.prettierrc
.prettierignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Package management
package-lock.json
yarn.lock
